.root {
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item {
  margin-top: 2px;
}

.success {
  color: green;
  line-height: 16px;
}
