.result {
  align-items: baseline;
  display: flex;
  font-family: var(--demo-font-family-monospace);
}

.location {
  color: darkgray;
  flex: none;
  font-size: 12px;
  margin: 0 8px 0 0;
  min-width: 60px;
  text-align: right;
}

.message {
  display: inline-flex;
  font-size: 12px;
  gap: 0.5em;
  margin: 0;
}

.ruleName {
  color: darkgray;
}

.ruleLink {
  color: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
