.result {
  align-items: baseline;
  display: flex;
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
}

.location {
  color: darkgray;
  flex: none;
  font-size: 12px;
  margin: 0 8px 0 0;
  min-width: 36px;
}

.message {
  display: inline-flex;
  font-size: 12px;
  gap: 0.5em;
  margin: 0;
}

.ruleName {
  color: darkgray;
}

.ruleLink {
  color: darkgray;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
