.root {
  display: flex;
  flex-direction: column;
}

.codeInput,
.output {
  border: 1px solid gainsboro;
  border-width: 0 0 1px;
}

.output {
  background-color: whitesmoke;
}

.results {
  padding: 1rem 0.5rem;
}

.errorConsole {
  background: crimson;
  border: 1px solid gainsboro;
  border-width: 1px 0;
  color: white;
  display: block;
  font-family: "Oxygen Mono", monospace;
  padding: 1rem 0.5rem;
}

@media (min-width: 48em) {
  .root {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .codeInput { width: 50%; }
  .output { width: 50%; }
  .configInput { width: 100%; }

  .results {
    padding-top: 0;
  }
}
