.root {
  display: flex;
  flex-direction: column;
}

.put {
  position: relative;
}

.codeInput,
.configInput,
.output {
  composes: put;
}

.output {
  background-color: whitesmoke;
}

.caption {
  align-items: baseline;
  background-color: darkgrey;
  border-radius: 0 1px;
  color: white;
  display: flex;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 12px;
  padding: 2px 8px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.syntax {
  background: transparent;
  border: 0;
  color: white;
  font: 10px Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
  margin-right: 8px;
}

.results {
  padding: 20px 8px;
}

.error {
  background: crimson;
  border: 1px solid gainsboro;
  border-width: 1px 0;
  color: white;
  display: block;
  font: 12px/16px Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
  padding: 16px 8px;
}

@media (width > 54em) {
  .root {
    position: relative;

    &::after {
      background: whitesmoke;
      bottom: 0;
      content: "";
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      z-index: -1;
    }
  }

  .codeInput { width: 50%; }

  .output {
    min-height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
  }

  .configInput {
    border-top: 1px solid gainsboro;
    width: 50%;
  }
}
