.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.input {
  min-height: 300px;
  flex: 1;
}

.results {
  background: whitesmoke;
  border: 1px solid gainsboro;
  border-width: 1px 0;
  padding: 1rem 0.5rem;
}

.errorConsole {
  background: crimson;
  border: 1px solid gainsboro;
  border-width: 1px 0;
  color: white;
  display: block;
  font-family: "Oxygen Mono", monospace;
  padding: 1rem 0.5rem;
}
