:root {
	--stylelint-demo-background-color: #1b1b1d;
	--stylelint-demo-color: #e3e3e3;
	--stylelint-demo-outputs-height: max(150px, 25vh);
	--stylelint-demo-inactive-tab-color: #aaa;
	--stylelint-demo-inactive-tab-background-color: #393e46;
	--stylelint-demo-active-tab-color: var(--stylelint-demo-color);
	--stylelint-demo-active-tab-background-color: var(--stylelint-demo-background-color);
	--stylelint-demo-focus-tab-background-color: var(--stylelint-demo-background-color);
	--stylelint-demo-warning-item-hover-background-color: #393e46;
	--stylelint-demo-link-color: #3578e5;
	--stylelint-demo-link-hover-background-color: #393e46;
}

.stylelint-demo {
	align-items: stretch;
	color: var(--stylelint-demo-color);
	display: flex;
	flex-direction: column;
	height: 100%;
}

.stylelint-demo a {
	color: var(--stylelint-demo-link-color);
	padding: 2px 4px;
	text-decoration: none;
}

.stylelint-demo a:hover {
	background-color: var(--stylelint-demo-link-hover-background-color);
}

.stylelint-demo-input-tabs,
.stylelint-demo-output-tabs {
	display: flex;
}

.stylelint-demo-inputs {
	background-color: var(--stylelint-demo-background-color);
	display: flex;
	flex-grow: 1;
	min-height: 1px;
}

.stylelint-demo-inputs > *,
.stylelint-demo-code-monaco {
	width: 100%;
}

.stylelint-demo-code,
.stylelint-demo-config,
.stylelint-demo-deps {
	display: flex;
	flex-direction: column;
}

:is(.stylelint-demo-code, .stylelint-demo-config) label {
	padding: 4px;
}

.stylelint-demo-deps label {
	padding: 0 4px;
}

.stylelint-demo-code-monaco,
.stylelint-demo-config-monaco,
.stylelint-demo-deps-monaco {
	flex-grow: 1;
	min-height: 1px;
}

.stylelint-demo:not(:has(.stylelint-demo-code-tab:checked)) .stylelint-demo-code,
.stylelint-demo:not(:has(.stylelint-demo-config-tab:checked)) .stylelint-demo-config,
.stylelint-demo:not(:has(.stylelint-demo-deps-tab:checked)) .stylelint-demo-deps {
	display: none;
}

.stylelint-demo-outputs {
	background-color: var(--stylelint-demo-background-color);
	flex-shrink: 0;
	height: var(--stylelint-demo-outputs-height);
}

.stylelint-demo-outputs > * {
	width: 100%;
}

.stylelint-demo-warnings {
	box-sizing: border-box;
	height: 100%;
	overflow: auto;
	white-space: pre;
}

.stylelint-demo-warning-item {
	cursor: pointer;
}

.stylelint-demo-warning-item:hover {
	background-color: var(--stylelint-demo-warning-item-hover-background-color);
}

.stylelint-demo-console {
	box-sizing: border-box;
	height: 100%;
	overflow: auto;
	padding: 8px;
	white-space: pre;
}

.stylelint-demo:not(:has(.stylelint-demo-warning-tab:checked)) .stylelint-demo-warnings,
.stylelint-demo:not(:has(.stylelint-demo-console-tab:checked)) .stylelint-demo-console {
	display: none;
}

:is(.stylelint-demo-input-tabs, .stylelint-demo-output-tabs) input[type='radio'] {
	margin: 0;
	opacity: 0;
	width: 0;
}

:is(.stylelint-demo-input-tabs, .stylelint-demo-output-tabs) {
	background-color: var(--stylelint-demo-background-color);
	margin-top: 8px;
	width: fit-content;
}

:is(.stylelint-demo-input-tabs, .stylelint-demo-output-tabs) label {
	background-color: var(--stylelint-demo-inactive-tab-background-color);
	color: var(--stylelint-demo-inactive-tab-color);
	cursor: pointer;
	padding: 0 16px;
}

:is(.stylelint-demo-input-tabs, .stylelint-demo-output-tabs)
	label:has(input[type='radio']:checked) {
	background-color: var(--stylelint-demo-active-tab-background-color);
	color: var(--stylelint-demo-active-tab-color);
}

:is(.stylelint-demo-input-tabs, .stylelint-demo-output-tabs)
	label:has(input[type='radio']:focus, input[type='radio']:hover) {
	background-color: var(--stylelint-demo-focus-tab-background-color);
}
