<!DOCTYPE html>
<html>
<head>
  <title>Stylelint Demo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    :root {
      --demo-font-family-monospace: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
    }
    body {
      margin: 0;
    }
  </style>
</head>
<body>
  <div id="root"></div>
</body>
</html>
